@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.form--controller {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin: auto;
  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none;
    color: rgba(55, 65, 81, 0.85);
    font-weight: 500;
    border: 1px solid rgba(55, 65, 81, 0.2);
  }
  label {
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.35px;
  }
  ::placeholder {
    font-size: 0.9rem;
    font-weight: 400;
  }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: rgba(96, 165, 250, 0.5);
    color: rgba(55, 65, 81, 1);
  }
}
.formDisabled {
  input {
    background-color: rgba(207, 207, 207, 0.671);
    pointer-events: none;
  }
}

.error {
  input,
  select,
  textarea,
  input:focus,
  select:focus,
  textarea:focus {
    border-color: rgb(220 38 38);
  }
}

.auth--button {
  padding: 0.35rem 0;
  width: 100%;
  border-radius: 10rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.basket {
  position: relative;
  padding-top: 0;
  transition: padding 0.33s linear;
}

html:not([data-scroll="0"]) {
  .basket {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1rem;
    width: inherit;
  }
}
